@tailwind base;
@tailwind components;
@tailwind utilities;

.dash-card{
    position: relative;
    overflow: hidden;
}

.dash-card::after{
    position: absolute;
    content: "";
    height: 150px;
    width: 150px;
    background-color: #90d10538;
    top: 0;
    right: 0;
    border-radius: 100%;
    transform: translate(20%, -50%);
}

.dash-card::before{
    position: absolute;
    content: "";
    height: 100px;
    width: 100px;
    background-color: #90d10538;
    top: 0;
    right: 0;
    border-radius: 100%;
    transform: translate(20%, -10%);
}