@tailwind base;
@tailwind components;
@tailwind utilities;

.dash-card {
  @apply relative;
  @apply overflow-hidden;
}

.dash-card::after {
  @apply bg-lime-600/20;
  @apply absolute;
  @apply top-0;
  @apply right-0;
  @apply rounded-full;
  @apply pointer-events-none;
  @apply -z-0;
  content: "";
  height: 150px;
  width: 150px;
  transform: translate(20%, -50%);
}

.dash-card::before {
  @apply bg-lime-600/20;
  @apply absolute;
  @apply top-0;
  @apply right-0;
  @apply rounded-full;
  @apply pointer-events-none;
  @apply -z-0;
  content: "";
  height: 100px;
  width: 100px;
  transform: translate(20%, -10%);
}

.shimmer {
  display: inline-block;
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
  animation: shimmer 2.5s infinite;
  font-size: 50px;
}

@keyframes shimmer {
  100% {
    mask-position: left;
  }
}
