@tailwind base;
@tailwind components;
@tailwind utilities;

.zig-zag-border {
    background: linear-gradient(45deg,#aaa,#fff);
    width: 22rem;
    padding: 1rem 1rem 2rem;
    --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/30px 100%;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }
